In [233]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
pd.options.display.float_format = '{:,.2f}'.format

In [245]:
data_train = pd.read_csv('properties_colombia_train.csv')
data_test = pd.read_csv('properties_colombia_test.csv')

In [246]:
promedio = data_train.price.mean()

data_train['Target'] = data_train['price'].apply(lambda x:1 if x>promedio else 0)
data_train.head()

,Unnamed: 0,id,ad_type,start_date,end_date,created_on,lat,lon,l1,l2,...,surface_covered,price,currency,price_period,title,description,property_type,operation_type,geometry,Target
0,861131,CScTjaFiP6yCzS8tFX0ZVA==,Propiedad,2020-12-14,9999-12-31,2020-12-14,6.20,-75.57,Colombia,Antioquia,...,NaN,"9,000,000,000.00",COP,NaN,Hermosa Mansión En El Poblado. Área Construida...,<b>Hermosa Mansión En El Poblado. Área Constru...,Casa,Venta,POINT (-75.572 6.203),1
1,200972,DlCxox9+FuugkxS2kBVfJg==,Propiedad,2020-09-16,2021-05-14,2020-09-16,4.72,-74.07,Colombia,Cundinamarca,...,NaN,"625,000,000.00",COP,NaN,"APARTAMENTO EN VENTA, BOGOTA-CIUDAD JARDIN NORTE",Venta apartamento en piso 16 con vista exterio...,Apartamento,Venta,POINT (-74.0731146 4.7227485),0
2,554622,yitN1AigL45gh/K2YSF8rw==,Propiedad,2020-08-19,2020-08-20,2020-08-19,4.71,-74.03,Colombia,Cundinamarca,...,NaN,"420,000,000.00",COP,NaN,Apartamento En Venta En Bogota Bella Suiza Cod...,Al entrar a este bonito apartamento interior e...,Casa,Venta,POINT (-74.03 4.709),0
3,540321,hELQ9njwODbLMpATXieRdQ==,Propiedad,2020-11-23,2020-11-30,2020-11-23,NaN,NaN,Colombia,Santander,...,NaN,"1,310,000,000.00",COP,NaN,SE VENDE LOCAL COMERCIAL EN CABECERA DEL LLANO...,Se encuentra ubicado en el sector de la Cabece...,Otro,Venta,POINT EMPTY,1
4,448920,aBCtKT7LDzt2CxJQ+gVFEA==,Propiedad,2020-10-06,2020-10-07,2020-10-06,NaN,NaN,Colombia,Antioquia,...,NaN,"210,000,000.00",COP,NaN,Apartamento en Venta Ubicado en ITAGUI,Codigo Inmueble 4302 Apartamento con 3 habitac...,Apartamento,Venta,POINT EMPTY,0

Completamos los valores faltantes con el valor promedio en Latitud, Longitud y Numero de Baños

In [247]:
# Con el Data Test
promedio_lat = data_train.lat.mean()
promedio_lon = data_train.lon.mean()
promedio_bathroom = data_train.bathrooms.mean()

data_train['lat'] = data_train['lat'].fillna(value=promedio_lat)
data_train['lon'] = data_train['lon'].fillna(value=promedio_lon)
data_train['bathrooms'] = data_train['bathrooms'].fillna(value=promedio_bathroom)

# Con el Data Train
promedio_lat = data_test.lat.mean()
promedio_lon = data_test.lon.mean()
promedio_bathroom = data_test.bathrooms.mean()

data_test['lat'] = data_test['lat'].fillna(value=promedio_lat)
data_test['lon'] = data_test['lon'].fillna(value=promedio_lon)
data_test['bathrooms'] = data_test['bathrooms'].fillna(value=promedio_bathroom)

data_test.head()

,Unnamed: 0,id,ad_type,start_date,end_date,created_on,lat,lon,l1,l2,...,bathrooms,surface_total,surface_covered,currency,price_period,title,description,property_type,operation_type,geometry
0,852569,pCiVu6rxpBq9dCZfYCXXgA==,Propiedad,2020-09-04,2020-09-12,2020-09-04,4.72,-74.08,Colombia,Cundinamarca,...,3.00,660.00,350.00,COP,NaN,Casa En Arriendo/venta En Bogota Sotileza Cod....,"EXCLUSIVA CASA EN VENTA Y ARRIENDO, UBICADA EN...",Casa,Venta,POINT (-74.075 4.722)
1,121379,L0XSQ7mF1TWb1lHRg4n2+A==,Propiedad,2020-10-20,2020-10-20,2020-10-20,5.69,-75.04,Colombia,Antioquia,...,3.00,NaN,NaN,COP,Mensual,SE VENDE APARTAMENTO EN EL SECTOR DE ZUÑIGA-EN...,"PR 7555. Apartamento Duplex en unidad cerrada,...",Apartamento,Venta,POINT EMPTY
2,119504,FbWRxZOMNoUzVOLXgkum1A==,Propiedad,2020-10-20,2020-10-22,2020-10-20,6.26,-75.63,Colombia,Antioquia,...,1.00,NaN,NaN,COP,NaN,Casa Barata San Javier Solo por este mes,"Casa compraventa escrituras en \n proceso,sala...",Casa,Venta,POINT (-75.6283806 6.25925267)
3,227304,RUV1P+3UOmNdlJ9fBdWFyw==,Propiedad,2020-12-10,9999-12-31,2020-12-10,6.20,-75.56,Colombia,Antioquia,...,2.64,"2,793.00",NaN,COP,NaN,Lote En Venta En Medellin La Calera Cod. VRPR6330,CODIGO 6330LOTE PARA LA VENTA DE 2793MTS,Lote,Venta,POINT (-75.556 6.203)
4,228600,ifKutEAhyovuDNeYrFFV+A==,Propiedad,2020-12-10,2020-12-11,2020-12-10,5.69,-75.04,Colombia,Antioquia,...,2.00,NaN,NaN,COP,NaN,Casa en Venta Ubicado en MEDELLIN,Codigo Inmueble 505457 Casa en venta en el sec...,Casa,Venta,POINT EMPTY

Quitamos las columnas que no utilizamos

In [248]:
# Data Train
data_train.drop('id', axis= 1, inplace= True)
data_train.drop('ad_type', axis= 1, inplace= True)
data_train.drop('start_date', axis= 1, inplace= True)
data_train.drop('end_date', axis= 1, inplace= True)
data_train.drop('created_on', axis= 1, inplace= True)
data_train.drop('surface_total', axis= 1, inplace= True)
data_train.drop('surface_covered', axis= 1, inplace= True)
data_train.drop('rooms', axis= 1, inplace= True)
data_train.drop('bedrooms', axis= 1, inplace= True)
data_train.drop('price_period', axis= 1, inplace= True)
data_train.drop('title', axis= 1, inplace= True)
data_train.drop('description', axis= 1, inplace= True)
data_train.drop('operation_type', axis= 1, inplace= True)
data_train.drop('l1', axis= 1, inplace= True)
data_train.drop('l4', axis= 1, inplace= True)
data_train.drop('l5', axis= 1, inplace= True)
data_train.drop('l6', axis= 1, inplace= True)
data_train.drop('geometry', axis=1, inplace= True)

# Data Train
data_test.drop('id', axis= 1, inplace= True)
data_test.drop('ad_type', axis= 1, inplace= True)
data_test.drop('start_date', axis= 1, inplace= True)
data_test.drop('end_date', axis= 1, inplace= True)
data_test.drop('created_on', axis= 1, inplace= True)
data_test.drop('surface_total', axis= 1, inplace= True)
data_test.drop('surface_covered', axis= 1, inplace= True)
data_test.drop('rooms', axis= 1, inplace= True)
data_test.drop('bedrooms', axis= 1, inplace= True)
data_test.drop('price_period', axis= 1, inplace= True)
data_test.drop('title', axis= 1, inplace= True)
data_test.drop('description', axis= 1, inplace= True)
data_test.drop('operation_type', axis= 1, inplace= True)
data_test.drop('l1', axis= 1, inplace= True)
data_test.drop('l4', axis= 1, inplace= True)
data_test.drop('l5', axis= 1, inplace= True)
data_test.drop('l6', axis= 1, inplace= True)
data_test.drop('geometry', axis=1, inplace= True)

In [249]:
print(data_train.shape)
data_test.shape

(197549, 10)

(65850, 8)

Cambiamos las columnas de tipo object a Category

In [250]:
from sklearn.preprocessing import OneHotEncoder
# Data Train
data_train['l2'] = data_train['l2'].astype("category")
data_train['l3'] = data_train['l3'].astype("category")
data_train['property_type'] = data_train['property_type'].astype("category")

# codificamos la columnas l2 de datos categoricos con OneHot
codificador = OneHotEncoder()
codificacion = codificador.fit_transform(data_train[['l2']])
nuevas_cols = pd.DataFrame(codificacion.toarray(),columns= codificador.categories_)

data_train = pd.concat([data_train, nuevas_cols], axis=1)

# codificamos la columnas l3 de datos categoricos con OneHot
codificador = OneHotEncoder()
codificacion = codificador.fit_transform(data_train[['l3']])
nuevas_cols = pd.DataFrame(codificacion.toarray(),columns= codificador.categories_)

data_train = pd.concat([data_train, nuevas_cols], axis=1)

# codificamos la columnas property_type de datos categoricos con OneHot
codificador = OneHotEncoder()
codificacion = codificador.fit_transform(data_train[['property_type']])
nuevas_cols = pd.DataFrame(codificacion.toarray(),columns= codificador.categories_)

data_train = pd.concat([data_train, nuevas_cols], axis=1)

# finalmente eliminamos las columnas l2, l3 y property_type
data_train.drop('l2', axis= 1, inplace= True)
data_train.drop('l3', axis= 1, inplace= True)
data_train.drop('property_type', axis= 1, inplace= True)

# Data test
data_test['l2'] = data_test['l2'].astype("category")
data_test['l3'] = data_test['l3'].astype("category")
data_test['property_type'] = data_test['property_type'].astype("category")

# codificamos la columnas l2 de datos categoricos con OneHot
codificador = OneHotEncoder()
codificacion = codificador.fit_transform(data_test[['l2']])
nuevas_cols = pd.DataFrame(codificacion.toarray(),columns= codificador.categories_)

data_test = pd.concat([data_test, nuevas_cols], axis=1)

# codificamos la columnas l3 de datos categoricos con OneHot
codificador = OneHotEncoder()
codificacion = codificador.fit_transform(data_test[['l3']])
nuevas_cols = pd.DataFrame(codificacion.toarray(),columns= codificador.categories_)

data_test = pd.concat([data_test, nuevas_cols], axis=1)

# codificamos la columnas property_type de datos categoricos con OneHot
codificador = OneHotEncoder()
codificacion = codificador.fit_transform(data_test[['property_type']])
nuevas_cols = pd.DataFrame(codificacion.toarray(),columns= codificador.categories_)

data_test = pd.concat([data_test, nuevas_cols], axis=1)

# finalmente eliminamos las columnas l2, l3 y property_type
data_test.drop('l2', axis= 1, inplace= True)
data_test.drop('l3', axis= 1, inplace= True)
data_test.drop('property_type', axis= 1, inplace= True)


data_train.head()

,Unnamed: 0,lat,lon,bathrooms,price,currency,Target,"(Amazonas,)","(Antioquia,)","(Arauca,)",...,"(Zipaquirá,)","(nan,)","(Apartamento,)","(Casa,)","(Finca,)","(Local comercial,)","(Lote,)","(Oficina,)","(Otro,)","(Parqueadero,)"
0,861131,6.20,-75.57,4.00,"9,000,000,000.00",COP,1,0.00,1.00,0.00,...,0.00,0.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00
1,200972,4.72,-74.07,2.00,"625,000,000.00",COP,0,0.00,0.00,0.00,...,0.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2,554622,4.71,-74.03,2.00,"420,000,000.00",COP,0,0.00,0.00,0.00,...,0.00,0.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00
3,540321,5.67,-75.04,1.00,"1,310,000,000.00",COP,1,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00,0.00
4,448920,5.67,-75.04,2.00,"210,000,000.00",COP,0,0.00,1.00,0.00,...,0.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00

In [251]:
# Data Train
data_train.drop('currency', axis= 1, inplace= True)
data_train.drop('price', axis=1, inplace= True)

# Data Test
data_test.drop('currency', axis= 1, inplace= True)
data_train.head()

,Unnamed: 0,lat,lon,bathrooms,Target,"(Amazonas,)","(Antioquia,)","(Arauca,)","(Atlántico,)","(Bolívar,)",...,"(Zipaquirá,)","(nan,)","(Apartamento,)","(Casa,)","(Finca,)","(Local comercial,)","(Lote,)","(Oficina,)","(Otro,)","(Parqueadero,)"
0,861131,6.20,-75.57,4.00,1,0.00,1.00,0.00,0.00,0.00,...,0.00,0.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00
1,200972,4.72,-74.07,2.00,0,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2,554622,4.71,-74.03,2.00,0,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00
3,540321,5.67,-75.04,1.00,1,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00,0.00
4,448920,5.67,-75.04,2.00,0,0.00,1.00,0.00,0.00,0.00,...,0.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00

In [262]:
X = data_train.copy()
X.drop(['Target', ('Albania',), ('Arcabuco',), ('Balboa',), ('Buenaventura',), ('Buesaco',), ('Carmen de Carupa',), ('Casabianca',), ('Choachí',), ('Circasia',), ('Coello',), ('Cunday',), ('Dos Quebradas',), ('Guateque',), ('Gómez Plata',), ('Lérida',), ('Nocaima',), ('Pacho',), ('Pasto',), ('Pinchote',), ('Pore',), ('Providencia',), ('Puerto Carreño',), ('Quebradanegra',), ('Riohacha',), ('San Alberto',), ('San Pedro de Uraba',), ('Santa Rita',), ('Santa Rosa',), ('Santa Sofía',), ('Santagueda',), ('Sutamarchán',), ('Sutatausa',), ('Suárez',), ('Tausa',), ('Vergara',), ('Vianí',)], axis=1, inplace=True)
y = data_train.Target

X_test = data_test

c:\Python310\lib\site-packages\pandas\core\common.py:241: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  result = np.asarray(values, dtype=dtype)

## **1. Árbol de decisión**

Ahora que tenemos nuestras variables predictoras `X`, por un lado, y nuestra varible a predecir `y`, por el otro, vamos a crear un modelo de árbol de decisión.

Recordemos el flujo de trabajo de ML en Scikit-Learn: creamos el modelo / entrenamos / predecimos.

In [263]:
from sklearn.tree import DecisionTreeClassifier

# Instanciamos un objeto de la clase DecisionTreeClassifier

clf = DecisionTreeClassifier(max_depth = 5, random_state = 42)

In [264]:
# Entrenamos el modelo

clf.fit(X.values,y.values)

DecisionTreeClassifier(max_depth=5, random_state=42)

In [255]:
# Exploramos algunas de las características del modelo entrenado. Para pensar, 
# ¿qúe representa cada uno de estos valores?

print(clf.classes_)
print(clf.n_classes_)
print(clf.max_features_)
print(clf.feature_importances_)

[0 1]
2
337
[0.00000000e+00 4.57417896e-02 2.81291918e-02 7.55407058e-01
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 1.37979204e-03 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 3.72064767e-02 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 1.59914303e-02 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 1.07232824e-03
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 9.18642878e-03
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 2.86890787e-02 4.20973354e-02 0.00000000e+00
 5.48704689e-04 0.00000000e+00 0.00000000e+00 3.45503860e-02
 0.00000000e+00]

In [273]:
# Predecimos
oneh = OneHotEncoder(handle_unknown="ignore")
oneh.fit(X[X.columns])
X_test = oneh.transform(X_test[X_test.columns])
y_pred = clf.predict(X_test.values)

c:\Python310\lib\site-packages\sklearn\utils\validation.py:1858: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['str', 'tuple']. An error will be raised in 1.2.
  warnings.warn(
c:\Python310\lib\site-packages\sklearn\utils\validation.py:1858: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['str', 'tuple']. An error will be raised in 1.2.
  warnings.warn(

ValueError: X has 312 features, but OneHotEncoder is expecting 305 features as input.

In [271]:
X.head()

,Unnamed: 0,lat,lon,bathrooms,"(Amazonas,)","(Antioquia,)","(Arauca,)","(Atlántico,)","(Bolívar,)","(Boyacá,)",...,"(Zipaquirá,)","(nan,)","(Apartamento,)","(Casa,)","(Finca,)","(Local comercial,)","(Lote,)","(Oficina,)","(Otro,)","(Parqueadero,)"
0,861131,6.20,-75.57,4.00,0.00,1.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00
1,200972,4.72,-74.07,2.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2,554622,4.71,-74.03,2.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00
3,540321,5.67,-75.04,1.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00,0.00
4,448920,5.67,-75.04,2.00,0.00,1.00,0.00,0.00,0.00,0.00,...,0.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00